.card-widget {
  margin: 0 auto;
  padding: 20px;

  width: 700px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;

  font-size: inherit;

  &__title {
    text-align: center;
  }
}

.credit-card-form {
  margin-top: 48px;

  &__payment-method {
    &-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 16px;

      margin-bottom: 24px;
    }

    &-item {
      position: relative;
      z-index: 1;

      input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: -1;
        opacity: 0;

        &:checked + label {
          opacity: 1;
        }
      }

      label {
        cursor: pointer;
        opacity: 0.3;
      }
    }
  }

  &__input-btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__input {
    padding: 12px 16px;

    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;

    &:hover,
    &:focus {
      border: 1px solid #7a7979;
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }

    &::placeholder {
      color: #ccc;
    }
  }

  &__submit {
    margin-left: 12px;
    padding: 12px 16px;

    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(36, 204, 44);

    &:hover {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      background-color: rgb(54, 236, 69);
    }
  }

  &__status {
    margin-top: 48px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}
