/* body */
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  background-color: antiquewhite;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.webpack-img {
  width: 100%;
}
