/* body */
body {
  box-sizing: border-box;
  background-color: antiquewhite;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

a,
button,
input {
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
